/* место для вашего кода */

/* Шапка */
.header {
  display: grid; /* делает сетку */
  grid-template-columns: 1fr auto 1fr;
  align-items: center; /* вертикальное выравнивание */
  margin: auto;
  padding: 92px 50px; /* внутренние отступы шапки */
}

.header__menu {
  justify-self: start; /* выравнивание элемента внутри ячейки сетки */
  font-family: "Raleway", sans-serif; /* шрифт */
  font-weight: 400; /* толщина шрифта */
  font-size: 18px; /* размер шрифта */
  line-height: 100%; /* высота строки (расстояние между строками текста) */
  letter-spacing: 0; /* расстояние между символами */
}

.header__links-list {
  display: flex;
  gap: 33px; /* расстояние между дочерними элементами внутри контейнера */
  margin: 0; /* Убирает внешние отступы у самого элемента*/
  padding: 0; /* Убирает внутренние отступы */
  list-style: circle; /* тип маркера */
}

.header__links-list-item {
  list-style: circle; /* тип маркера */
}

.header__links-list-item_no-bullit {
  list-style: none; /* тип маркера */
}

.header__link {
  color: #000; /* цвет */
  text-decoration: underline; /* подчёркивание текста */
  text-underline-offset: 3px; /* Смещает подчёркивание */
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center; /* Выравнивает элемент по горизонтали внутри сетки */
  display: inline-block; /* Делает элемент строчно-блочным */
}

.header__logo-image {
  max-width: 148px; /* Ограничивает максимальную ширину элемента */
  max-height: 105px; /* Ограничивает максимальную высоту элемента */
}

.address {
  padding-right: 35px; /* Добавляет внутренний отступ справа */
  color: #000; /* цвет */
  font-family: "Raleway", sans-serif; /* шрифт */
  font-weight: 400; /* толщина шрифта */
  font-size: 18px; /* размер шрифтф */
  line-height: 24.3px; /* высота строки (расстояние между строками текста) */
  letter-spacing: 0; /* расстояние между символами */
}

.header__address {
  justify-self: end; /* уп.горизонтальным выравниванием элемента внутри ячейки grid  */
}

.address__link {
  display: block; /* Делает элемент блочным */
  font-style: normal; /* Определяет начертание шрифта */
  text-decoration: underline; /* подчёркивание текста */
  text-underline-offset: 3px; /* Смещает подчёркивание */
  color: #000; /* цвет */
}

.address__text {
  margin: 0;  /* Убирает внешние отступы у самого элемента*/
  font-style: normal;
}

/* первая секция */
.cover {
  position: relative; /* Задаёт относительное позиционирование элемента */
  z-index: 1; /* Определяет порядок наложения (глубину слоя) */
  display: grid; /* Элемент становится контейнером, а его дочерние элементы — ячейками сетки */
  grid-template-columns: 1fr; /* Задаёт структуру сетки */
  gap: 1rem; /* Определяет расстояние между ячейками сетки */
  min-height: 757px; /* Задаёт минимальную высоту блока */
  padding: 50px 20px 50px 50px; /* Добавляет внутренние отступы */
  font-family: "Raleway", sans-serif; /* шрифт */
  background: url(../images/cover.jpg) center/cover no-repeat; /* фоновое изображение */
}

.overlay {
  position: absolute;
  inset: 0; /* заставляет элемент растянуться на весь размер родителя */
  z-index: -1; /* Определяет порядок наложения (глубину слоя) */
  background-color: #000000; /* фон */
  opacity: 60%; /* Устанавливает прозрачность элемента */
}

.cover__title {
  display: grid;
  gap: 1rem;
  align-self: center;
  padding-top: 80px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  line-height: 1.2;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  padding-right: 30px;
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  align-content: end;
}

.cover__description-text {
  display: grid;
  color: white;
  text-align: start;
  text-transform: uppercase;
  word-spacing: 18px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.bet-button {
  border: 1px currentColor solid;
  padding: 11px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 185px;
  margin-bottom: 150px;
}

.lots__heading {
  padding-left: 60px;
  padding-bottom: 5px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 24px;
  color: white;
  list-style: none;
  text-decoration: none;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  line-height: 120%;
  letter-spacing: 0;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 50px 40px;
}

.card__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover no-repeat;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover no-repeat;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover no-repeat;
}

.lots__look-more-link {
  padding-top: 6px;
  padding-left: 64px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* третья секция */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-content: start;
  gap: 40px;
}

.about__logo {
  justify-self: center;
  width: 242px;
  height: 242px;
  margin-left: 40px;
  border-radius: 50%;
  padding: 50px;
  background-color: #000;
}

.about__logo-image {
  width: 100%;
  height: 100%;
}

.about__title {
  padding-top: 105px;
  padding-bottom: 85px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__text {
  padding-top: 20px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
  word-spacing: 4px;
}
/* подвал */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding-top: 185px;
  padding-bottom: 100px;
}

.footer__address {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  color: #000;
}
.footer__menu {
  padding-right: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
}

.footer__links-list {
  text-underline-offset: 3px;
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
}